.tab-header {
	background-color: transparent;
	padding-top: 15px;
}

.tab {
	border-top-left-radius: 0rem;
	border-top-right-radius: 0rem;
	min-width: 100px;
}

.tab:hover {
	background-color: #aaa;
}

.tab.selected.dark {
	background-color: white;
	color: #333;
}

.tab.selected:hover {
	background-color: white;
}

#location.tab.selected {
	background-color: rgba(255, 255, 255, .4);
	color: #333;
}

#location.tab:not(.selected) {
	background-color: rgba(120, 120, 120, .7);
	color: white;
}

#location.tab {
	max-width: 150px;
}

.clickable {
	cursor: pointer;
}

.centered {
	text-align: center;
}

.display {
	background-color: white;
}

.panel {
	padding: 10px;
	background-color: rgba(255, 255, 255, .4);
}



.card {
	border-radius: 0;
	padding-left: 15px;
}

.dark {
	background-color: #333;
	color: white;
}

.light {
	background-color: white;
	color: #333;
}

.mid {
	background-color: #aaa;
	color: #333;
}

.locations-container {
	padding-top: 15px;
}



.tooltip:hover .tooltiptext {
	visibility: visible;
}

.rounded-corner {
	border-radius: 1rem;
}

#find-weather {
	background-color: rgba(255, 255, 255, .4);
	border-width: 3px;
	border-style: solid;
	border-color: rgba(255, 255, 0, .6);
	margin: auto;
	width: 60%;
	min-width: 200px;
}

input.find-weather {
	width: 60%;
	min-width: 200px;
	background-color: rgba(255, 255, 255, .3);
	border: none;
	margin: auto;
	color: #333;
}

#find-weather:hover {
	cursor: pointer;
}

.daily-card {
	min-width: 200px;
}

.fluid-row {
	white-space: nowrap;
	overflow-x: auto;
}

.fluid-row .col {
	white-space: normal;
	display: inline-block;
}

.wrap-text {
	overflow-wrap: break-word;
}

.hourly {
	min-height: 215px;
	width: 45%;
	max-width: 250px;
}

.daily-card {
	min-height: 215px;
	width: 45%;
	max-width: 250px;
}

.fine-print {
	font-size: .75em;
	font-style: italic;
}

body {
	background-image: url('images/sky.jpg');
}

.transparent {
	background-color: transparent;
}

.full-width {
	width: 100%;
}

.tab-3 {
	width: 33.333%;
}

.tall-font {
	font-size: 1.25em;
}

.subtitle {
	padding-left: 15px;
	font-size: 1em;
	font-weight: bold;
	color: blue;
	margin: auto;
}

.minititle {
	font-size: .75em;
	font-weight: bold;
	color: blue;
}

@media (min-width: 600px) {
	.tall-font {
		font-size: 1.5em;
	}

	.subtitle {
		font-size: 1.25em;
	}

	.minititle {
		font-size: 1em;
	}
}

@media (min-width: 800px) {
	.tall-font {
		font-size: 2em;
	}

	.subtitle {
		font-size: 1.5em;
	}

	.minititle {
		font-size: 1.25em;
	}

}

@media (min-width: 1000px) {

	.tall-font {
		font-size: 2.5em;
	}

	.subtitle {
		font-size: 2em;
	}

	.minititle {
		font-size: 1.5em;
	}

}