#root {
	height: 100%;
}

.tab-header {
	background-color: transparent;
	padding-top: 15px;
}

.tab {
	min-width: 100px;
}

.tab:hover {
	background-color: #aaa;
}

.tab.selected.dark {
	background-color: white;
	color: #333;
}

.tab.selected:hover {
	background-color: white;
}

#location.tab.selected {
	background-color: rgba(255, 255, 255, .6);
	color: #333;
}

#location.tab:not(.selected) {
	background-color: rgba(120, 120, 120, .6);
	color: white;
}

#location.tab {
	max-width: 150px;
}

.clickable {
	cursor: pointer;
}

.centered {
	text-align: center;
}

.display {
	background-color: white;
}

.panel {
	padding: 10px;
	background-color: rgba(255, 255, 255, .6);
}

.card {
	padding-left: 15px;
}

.dark {
	background-color: #333;
	color: white;
}

.light {
	background-color: white;
	color: #333;
}

.mid {
	background-color: #aaa;
	color: #333;
}

.locations-container {
	padding-top: 15px;
}



.tooltip:hover .tooltiptext {
	visibility: visible;
}

.rounded-corner {
	border-radius: 1rem;
}


.daily-card {
	min-width: 200px;
}

.fluid-row {
	white-space: nowrap;
	overflow-x: auto;
}

.fluid-row .col {
	white-space: normal;
	display: inline-block;
}

.wrap-text {
	overflow-wrap: break-word;
}

.hourly {
	min-height: 215px;
	width: 45%;
	max-width: 250px;
}

.daily-card {
	min-height: 215px;
	width: 45%;
	max-width: 250px;
}

.fine-print {
	font-size: .75em;
	font-style: italic;
}

body, html {
	height: 100vh;
}

.transparent {
	background-color: transparent;
}

.full-width {
	width: 100%;
}

.tab-3 {
	width: 33.333%;
}

.tall-font {
	font-size: 1.25em;
}

.subtitle {
	padding-left: 15px;
	font-size: 1em;
	font-weight: bold;
	color: blue;
	margin: auto;
}

.app {
	width: 100%;
	height: 100%;
	max-width: 800px;
	background-image: url('images/sky.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.minititle {
	font-size: .75em;
	font-weight: bold;
	color: blue;
}

button {
	background-color: rgba(255, 255, 255, .4);
	border-width: 3px;
	border-style: solid;
	border-color: rgba(255, 255, 0, .6);
	width: 60%;
	height: 2rem;
	line-height: 1rem;
	color: #333;
	min-width: 200px;
	margin-top: 15px;
	margin-bottom: 15px;
}

input.find-weather {
	width: 60%;
	height: 2rem;
	min-width: 200px;
	background-color: rgba(255, 255, 255, .6);
	border: none;
	margin: auto;
	color: #333;
}

@media (min-width: 800px) {
	button {
		height: 3rem;
	}

	input.find-weather {
		height: 3rem;
	}

	.tall-font {
		font-size: 2em;
	}

	.subtitle {
		font-size: 1.5em;
	}

	.minititle {
		font-size: 1.25em;
	}

}

.header-font {
	font-size: 3em;
	color: #333;
}

::placeholder {
	color: rgba(20, 20, 20, .5);
}

